.home_wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  & h1 {
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
  }
  & h1 b {
    color: orangered;
  }
}

.home_background {
  grid-row: 1 / 3;
  grid-column: 1 / -1;
  max-width: 1920px;
  z-index: -1;
  & img {
    width: 100%;
  }
}

.home_title {
  grid-row: 1 /3;
  grid-column: 2/ 12;
  margin-top: 110px;
}

.home_text_content {
  max-width: 595px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-top: 14px;
}

.home_action_wrap {
  display: flex;
  gap: 24px;
  margin-top: 60px;
}
.home_action_transparent_btn {
  background-color: transparent;
  border: 1px solid #fff;
}

.home_video {
  margin-top: 60px;
  width: 100%;
  grid-row: 3/5;
  grid-column: 2/ 12;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h3 {
    font-size: 42px;
    line-height: 53px;
  }

  & img {
    width: 100%;
  }
}
.home_values_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 45px;
}
.home_values {
  margin-top: 60px;
  grid-row: 5 / 7;
  grid-column: 2 / 12;
  text-align: center;
}

.home_request_form_wrap {
  grid-column: 2/12;
  grid-row: 7/9;
  width: 100%;
  z-index: 2;
  text-align: center;
  margin: 80px 0px;
  padding: 48px 60px;
  background-color: #fff;
  & h3 {
    font-size: 32px;
    line-height: 54px;
  }
  & form {
    display: flex;
    gap: 10px;
    align-items: flex-end;
  }
}

.form_btn {
  border: none;
  background-color: orangered;
}

.home_srvices_wrap {
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 8 / 12;
  z-index: 1;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  & h2 {
    margin-top: 150px;
    opacity: 1;
  }
}
.home_srvices_works {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.home_srvices_work {
  background-color: #fff;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_srvices_work_dark {
  background-color: black;
  color: #fff;
}

.home_services_info {
  margin: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home_services_info h3 {
  font-size: 24px;
}
.home_services_btn {
  border: 1px solid orangered;
}

.home_portfolio_wrap {
  margin: 80px 0px;
  grid-row: 12 / 16;
  grid-column: 2 / 12;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & h2 {
    font-size: 35px;
    max-width: 480px;
  }
}

.home_portfolio_projects_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.home_portfolio_info {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
